@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: "Nunito", sans-serif;

// Our colors
$orange: rgb(255,107,54);
$purple: rgb(73,62,94);
$blue: rgb(40,77,102);
$light-blue: rgb(245,248,251);
$dark : rgb(28,39,43);
$indigo: rgb(40,62,78);
$light: rgb(36,52, 58);

// Modified colors
$title-color: $light-blue;
$grey-light: $orange;
$grey-dark: $purple;
$grey: $blue;
$primary: $dark;
$info: $orange;
$footer-background-color:$indigo;

#dark-title{
    color: $dark;
}

#loginSection{
    background-color: $light;
}

#navbutton{
    margin-top: 2%;
}

#banner{
    height: 350px;
}

.title-page {
    font-size: 75px;
    text-align: center;
    margin-top: 15px;
    font-weight: 400;
}
.title-page2 {
    font-size: 23px;
    text-align: center;
    margin-bottom: 35px;
    font-weight: 400;
}
#is-medium {
    margin-top: -7em;
    padding-top: 95px;
    margin-bottom: -2em;}

        @media screen and (max-width: 768px) {
          margin-top: -5em;
        }
      
.aboutMe {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    @media screen and (max-width: 768px){
        width:100% auto;
    }
}

#biggest-container {
    margin-top: -50%;
}

@import"../node_modules/bulma/bulma.sass";